In [2]:
import pandas as pd
import numpy as np
import os

import mysql.connector
import pymysql
from mysql.connector import errorcode
from sqlalchemy import create_engine

In [3]:
data_location = 'C:/Users/tasbe/OneDrive/Desktop/job_search/career_change/portfolio_projects/covid_learning/data/processed_data'  
location = os.chdir(data_location)

# print info to check for null values in primary id, dataframe used later for adding to database
district_df = pd.read_csv('districts.csv')
district_df['state_districts'] = district_df['state_districts'].str.lower()
district_df['locale'] = district_df['locale'].str.lower()
district_df.to_csv('districts.csv', index=False)
print(district_df.head())

   district_id state_districts  locale black_hispanic_range  \
0         9007         arizona    city              0.8 - 1
1         2074      california  suburb            0.4 - 0.6
2         5604      california  suburb              0 - 0.2
3         3412      california    city            0.6 - 0.8
4         2321      california   rural              0 - 0.2

  free_reduced_lunch_range expend_student_range
0                      NaN                  NaN
1                0.2 - 0.4                  NaN
2                  0 - 0.2                  NaN
3                0.4 - 0.6                  NaN
4                  0 - 0.2                  NaN

In [3]:
# print info to check for null values in primary id, dataframe used later for adding to database
product_df = pd.read_csv('products_info.csv')
product_df['name'] = product_df['name'].str.lower()
product_df['company'] = product_df['company'].str.lower()
product_df['primary_function'] = product_df['primary_function'].str.lower()
product_df.to_csv('products_info.csv', index=False)
print(product_df.head())

   product_id                               url                 name  \
0       10533         http://www.scholastic.com           scholastic
1       10650                http://www.loc.gov  library of congress
2       10745          https://wonderopolis.org         wonderopolis
3       11069  http://www.mrdonn.org/index.html             mr. donn
4       11206      http://www.google.com/earth/         google earth

                                 company function_code  \
0                         scholastic inc           LC
1                    library of congress           LC
2  national center for families learning           LC
3                             mrdonn.org           LC
4                             google llc           LC

            primary_function
0    resources & references
1      resources & reference
2               study tools
3      resources & reference
4      resources & reference

In [4]:
# print info to check for null values in primary id, dataframe used later for adding to database
culture_df = pd.read_csv('school_culture.csv')
culture_df['state_culture'] = culture_df['state_culture'].str.lower()
print(culture_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   state_culture       11 non-null     object
 1   times_attacked      11 non-null     object
 2   times_threatened    11 non-null     float64
 3   stay_teaching       11 non-null     float64
 4   too_tired           11 non-null     float64
 5   want_transfer       11 non-null     float64
 6   satisfied           11 non-null     float64
 7   stud_unprepared     11 non-null     float64
 8   stud_apathetic      11 non-null     float64
 9   stud_absent         11 non-null     float64
 10  standards_plus      11 non-null     float64
 11  job_security        11 non-null     float64
 12  staff_cooperates    11 non-null     float64
 13  rules_enforced      11 non-null     float64
 14  have_supplies       11 non-null     float64
 15  stud_misbehaves     11 non-null     float64
 16  control_homework    11 non-null     float64
 17  control_techniques  11 non-null     float64
 18  control_content     11 non-null     float64
 19  control_materials   11 non-null     float64
 20  control_pd          11 non-null     float64
 21  control_curriculum  11 non-null     float64
 22  money_spent         11 non-null     float64
 23  hours_week          11 non-null     float64
 24  size_contain_class  11 non-null     float64
 25  size_dept_class     11 non-null     float64
 26  outside_income      11 non-null     object
 27  alt_cert            11 non-null     float64
dtypes: float64(25), object(3)
memory usage: 2.5+ KB
None

In [5]:
# print info to check for null values in primary id, dataframe used later for adding to database
assessment_df = pd.read_csv('assessment_data.csv')
print(assessment_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state_assessment  11 non-null     object
 1   g4_math_all       11 non-null     int64
 2   g4_math_elig      11 non-null     int64
 3   g4_math_not_elig  11 non-null     int64
 4   g4_reading_all    11 non-null     int64
 5   g4_read_elig      11 non-null     int64
 6   g4_read_not_elig  11 non-null     int64
 7   g8_math_all       11 non-null     int64
 8   g8_math_elig      11 non-null     int64
 9   g8_math_notelig   11 non-null     int64
 10  g8_read_all       11 non-null     int64
 11  g8_read_elig      11 non-null     int64
 12  g8_read_not_elig  11 non-null     int64
dtypes: int64(12), object(1)
memory usage: 1.2+ KB
None

In [6]:
# print info to check for null values in primary id
tech_df = pd.read_csv('tech_plans.csv')
print(tech_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 40 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   state_tech            10 non-null     object
 1   year                  10 non-null     int64
 2   21st_century          10 non-null     int64
 3   address_gaps          10 non-null     int64
 4   authentic             10 non-null     int64
 5   stud_collaborate      10 non-null     int64
 6   comp_sci_ed           10 non-null     int64
 7   data_driven           10 non-null     int64
 8   data_protect          10 non-null     int64
 9   digital_citizenfl     10 non-null     int64
 10  local_control         10 non-null     int64
 11  equity                10 non-null     int64
 12  flexible              10 non-null     int64
 13  for_assess            10 non-null     int64
 14  goals                 10 non-null     int64
 15  home_access           10 non-null     int64
 16  integration           10 non-null     int64
 17  investment            10 non-null     int64
 18  one_to_one            10 non-null     int64
 19  pd                    10 non-null     int64
 20  personal_learn        10 non-null     int64
 21  privacy               10 non-null     int64
 22  problem_solving       10 non-null     int64
 23  learning_communities  10 non-null     int64
 24  shared_resources      10 non-null     int64
 25  standards             10 non-null     int64
 26  student_centered      10 non-null     int64
 27  tech_leader           10 non-null     int64
 28  tech_lit              10 non-null     int64
 29  statewide_goals       10 non-null     int64
 30  as_learning_tool      10 non-null     int64
 31  data_manage           10 non-null     int64
 32  tech_assist           10 non-null     int64
 33  college               10 non-null     int64
 34  careers               10 non-null     int64
 35  consultant            10 non-null     int64
 36  teach_libr            10 non-null     int64
 37  teacher_collab        10 non-null     int64
 38  form_assess           10 non-null     int64
 39  common_core           10 non-null     int64
dtypes: int64(39), object(1)
memory usage: 3.2+ KB
None

In [7]:
# import os #os module imported here
# location = os.getcwd() # get present working directory location here
files = {} #list to store all csv files found at location
access_df_list = list()
engagement_data = os.chdir(data_location + "/engagement_data")

# reads each file in engagement data. Adds district id to data, renames columns, drops null values in 
# product_id, district_id and data columns, casts product_id and district_id to int, saves cleaned data 
# on top of unprocessed data, adds dataframe to list to add to sql later.
for file in os.listdir(engagement_data):
    new_file = pd.read_csv(file)
    if 'percent_access' in new_file.columns:
        new_file.engagement_index = np.where(round(new_file.percent_access == 0), 0, new_file.engagement_index)
        new_file['district_id'] = file[:5] 
        new_file.rename(columns = {'time': 'date', 'lp_id': 'product_id', 'pct_access': 'percent_access'}, inplace = True)
        new_file = new_file[['product_id', 'district_id', 'date', 'percent_access', 'engagement_index']]
        new_file.dropna(subset=['product_id'], inplace = True)
        new_file.dropna(subset=['district_id'], inplace = True)
        new_file.dropna(subset=['date'], inplace = True)
        new_file['product_id'] = new_file['product_id'].astype('int')
        new_file['district_id'] = new_file['district_id'].astype('int')
        new_file.to_csv(file, index=False)
        access_df_list.append(new_file)
        try:
            values = new_file['product_id'].value_counts() #keeps track of number of days each product was used in each district
            files[file] = values
        except Exception as e:
            print("there was a small problem.")

In [15]:
#saves number of days each district used each product, might be used in the analysis
product_usage_counts = pd.DataFrame.from_dict(files, orient = "index") 
product_usage_counts.to_csv("product_usage_counts.csv", index = False)

In [ ]:
# reads in cleaned calendars file
calendars = pd.read_csv("school_dates.csv")

In [13]:
dbase= "learn"
password = "#Pandas&Penguins"

# creates database connection
def connect():
    conn = None
    try:
        conn = mysql.connector.connect(
            host ="localhost",
            user ="root",
            passwd = password,
            database = dbase
            )
        
    except:
          
        conn = mysql.connector.connect(  
        host="localhost",
        user ="root",
        passwd = password,
        )
        c = conn.cursor()
        c.execute("CREATE DATABASE " +  dbase + ";")
        conn.close()
        
        conn = mysql.connector.connect(  
        host="localhost",
        user="root",
        passwd = password,
        database = dbase
        )
        print("Creating new database.")
        
    return conn
                                                                                                                 
# creates Database Tables and adds data to tables.
class CreateDatabase:
    
    def __init__(self):
        pass

    #creates database tables if they do not exist
    def create_tables(self):
        conn = connect()
        c = conn.cursor() 
        unique = 'SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;'
        foreign = 'SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;'
        c.execute(unique)
        c.execute(foreign)
        #c.execute(mode)

        product_access = '''CREATE TABLE IF NOT EXISTS `learn`.`product_access` (
                          `product_id` INT NOT NULL,
                          `district_id` INT NOT NULL,
                          `date` DATETIME NOT NULL,
                          `percent_access` DOUBLE NULL,
                          `engagement_index` DOUBLE NULL,
                          PRIMARY KEY (`product_id`, `district_id`, `date`))
                        ENGINE = InnoDB;'''
        c.execute(product_access)
        conn.commit()
        print('Product_access table created.')
        
        school_culture = '''CREATE TABLE IF NOT EXISTS `learn`.`school_culture` (
                      `state_culture` VARCHAR(20) NOT NULL,
                      `times_attacked` FLOAT NULL,
                      `times_threatened` FLOAT NULL,
                      `stay_teaching` FLOAT NULL,
                      `too_tired` FLOAT NULL,
                      `want_transfer` FLOAT NULL,
                      `satisfied` FLOAT NULL,
                      `stud_unprepared` FLOAT NULL,
                      `stud_apathetic` FLOAT NULL,
                      `stud_absent` FLOAT NULL,
                      `standards_plus` FLOAT NULL,
                      `job_security` FLOAT NULL,
                      `staff_cooperates` FLOAT NULL,
                      `rules_enforced` FLOAT NULL,
                      `have_supplies` FLOAT NULL,
                      `stud_misbehaves` FLOAT NULL,
                      `control_homework` FLOAT NULL,
                      `control_techniques` FLOAT NULL,
                      `control_content` FLOAT NULL,
                      `control_materials` FLOAT NULL,
                      `control_pd` FLOAT NULL,
                      `control_curriculum` FLOAT NULL,
                      `money_spent` FLOAT NULL,
                      `hours_week` FLOAT NULL,
                      `size_contain_class` FLOAT NULL,
                      `size_dept_class` FLOAT NULL,
                      `outside_income` FLOAT NULL,
                      `school_culturecol` VARCHAR(45) NULL,
                      `alt_cert` FLOAT NULL,
                      PRIMARY KEY (`state_culture`),
                      CONSTRAINT `state_plans`
                        FOREIGN KEY (`state_culture`)
                        REFERENCES `learn`.`state_plans` (`state_plans`)
                        ON DELETE NO ACTION
                        ON UPDATE NO ACTION,
                      CONSTRAINT `state_districts`
                        FOREIGN KEY (`state_culture`)
                        REFERENCES `learn`.`districts` (`state_districts`)
                        ON DELETE NO ACTION
                        ON UPDATE NO ACTION)
                    ENGINE = InnoDB;'''
        c.execute(school_culture)
        conn.commit()
        print('School_culture table created.')

        assessments = '''CREATE TABLE IF NOT EXISTS `learn`.`assessments` (
                          `state_assessments` VARCHAR(48) NOT NULL,
                          `g4_math_all` INT NULL,
                          `g4_math_elig` INT NULL,
                          `g4_math_notelig` INT NULL,
                          `g4_read_all` INT NULL,
                          `g4_read_elig` INT NULL,
                          `g4_read_notelig` INT NULL,
                          `g8_math_all` INT NULL,
                          `g8_math_elig` INT NULL,
                          `g8_math_notelig` INT NULL,
                          `g8_read_all` INT NULL,
                          `g8_read_elig` INT NULL,
                          `g8_read_not_elig` INT NULL,
                          PRIMARY KEY (`state_assessments`),
                          CONSTRAINT `districts`
                            FOREIGN KEY (`state_assessments`)
                            REFERENCES `learn`.`districts` (`state_districts`)
                            ON DELETE NO ACTION
                            ON UPDATE NO ACTION,
                          CONSTRAINT `culture`
                            FOREIGN KEY (`state_assessments`)
                            REFERENCES `learn`.`school_culture` (`state_culture`)
                            ON DELETE NO ACTION
                            ON UPDATE NO ACTION)
                        ENGINE = InnoDB;'''
        c.execute(assessments)  
        conn.commit()
        print('Assessments table created.')

        tech_plans = '''CREATE TABLE IF NOT EXISTS `learn`.`tech_plans` (
                          `state_plans` VARCHAR(15) NOT NULL,
                          `year` INT NULL,
                          `twenty_first_cen` TINYINT NULL,
                          `address_gaps` TINYINT NULL,
                          `authentic` TINYINT NULL,
                          `stud_collaborate` TINYINT NULL,
                          `comp_sci_ed` TINYINT NULL,
                          `data_driven` TINYINT NULL,
                          `data_protect` TINYINT NULL,
                          `digital_citizen` TINYINT NULL,
                          `local_control` TINYINT NULL,
                          `equity` TINYINT NULL,
                          `flexible` TINYINT NULL,
                          `for_assess` TINYINT NULL,
                          `goals` TINYINT NULL,
                          `home_access` TINYINT NULL,
                          `integration` TINYINT NULL,
                          `investment` TINYINT NULL,
                          `one_to_one` TINYINT NULL,
                          `pd` TINYINT NULL,
                          `personal_learn` TINYINT NULL,
                          `privacy` TINYINT NULL,
                          `problem_solving` TINYINT NULL,
                          `learning_commun` TINYINT NULL,
                          `shared_resources` TINYINT NULL,
                          `standards` TINYINT NULL,
                          `student_centered` TINYINT NULL,
                          `tech_leader` TINYINT NULL,
                          `tech_lit` TINYINT NULL,
                          `statewide_goals` TINYINT NULL,
                          `as_learning_tool` TINYINT NULL,
                          `data_manage` TINYINT NULL,
                          `tech_assist` TINYINT NULL,
                          `college` TINYINT NULL,
                          `careers` TINYINT NULL,
                          `consultant` TINYINT NULL,
                          `teach_libr` TINYINT NULL,
                          `teacher_collab` TINYINT NULL,
                          `form_assess` TINYINT NULL,
                          `common_core` TINYINT NULL,
                          PRIMARY KEY (`state_plans`),
                          CONSTRAINT `district_state`
                            FOREIGN KEY (`state_plans`)
                            REFERENCES `learn`.`districts` (`state_districts`)
                            ON DELETE NO ACTION
                            ON UPDATE NO ACTION,
                          CONSTRAINT `culture_state`
                            FOREIGN KEY (`state_plans`)
                            REFERENCES `learn`.`school_culture` (`state_culture`)
                            ON DELETE NO ACTION
                            ON UPDATE NO ACTION,
                          CONSTRAINT `assessments_state`
                            FOREIGN KEY (`state_plans`)
                            REFERENCES `learn`.`assessments` (`state_assessments`)
                            ON DELETE NO ACTION
                            ON UPDATE NO ACTION)
                        ENGINE = InnoDB;'''
        c.execute(tech_plans) 
        conn.commit()
        print('Tech_plans table created.')

        districts = '''CREATE TABLE IF NOT EXISTS `learn`.`districts` (
                          `district_id` INT NOT NULL,
                          `state_districts` VARCHAR(45) NULL,
                          `locale` VARCHAR(45) NULL,
                          `black_hispanic_range` VARCHAR(6) NULL,
                          `free_reduced_lunch_range` VARCHAR(6),
                          `expend_student_range` VARCHAR(12) NULL,
                          UNIQUE INDEX `district_id_UNIQUE` (`district_id` ASC) VISIBLE,
                          PRIMARY KEY (`district_id`),
                          INDEX `state_idx` (`state_districts` ASC) VISIBLE,
                          CONSTRAINT `product_id`
                            FOREIGN KEY (`district_id`)
                            REFERENCES `learn`.`Product` (`product_id`)
                            ON DELETE NO ACTION
                            ON UPDATE NO ACTION,
                          CONSTRAINT `district_id`
                            FOREIGN KEY (`district_id`)
                            REFERENCES `learn`.`ProductAccess` (`district_id`)
                            ON DELETE NO ACTION
                            ON UPDATE NO ACTION,
                          CONSTRAINT `state_tech`
                            FOREIGN KEY (`state_districts`)
                            REFERENCES `learn`.`tech_plans` (`state_plans`)
                            ON DELETE NO ACTION
                            ON UPDATE NO ACTION)
                        ENGINE = InnoDB;'''
        c.execute(districts) 
        conn.commit()
        print('Districts table created.')

        products = '''CREATE TABLE IF NOT EXISTS `learn`.`products` (
                      `product_id` INT NOT NULL,
                      `url` VARCHAR(60) NULL,
                      `name` VARCHAR(45) NULL,
                      `company` VARCHAR(45) NULL,
                      `function_code` VARCHAR(5) NULL,
                      `primary_function` VARCHAR(45) NULL,
                      UNIQUE INDEX `productId_UNIQUE` (`product_id` ASC) VISIBLE,
                      PRIMARY KEY (`product_id`),
                      CONSTRAINT `access_id`
                        FOREIGN KEY (`product_id`)
                        REFERENCES `learn`.`ProductAccess` (`product_id`)
                        ON DELETE NO ACTION
                        ON UPDATE NO ACTION,
                      CONSTRAINT `id_district`
                        FOREIGN KEY (`product_id`)
                        REFERENCES `learn`.`District` (`district_id`)
                        ON DELETE NO ACTION
                        ON UPDATE NO ACTION)
                    ENGINE = InnoDB;'''
        c.execute(products)
        conn.commit()
        print('Products table created.')
        
        calendars = '''CREATE TABLE IF NOT EXISTS `learn`.`school_calendars` (
                          `id` INT NOT NULL AUTO_INCREMENT      
                          `state_calendars` VARCHAR(20) NOT NULL,
                          `date` DATETIME NOT NULL,
                          `hybrid` DOUBLE NOT NULL,
                          `inperson` DOUBLE NULL,
                          `virtual` DOUBLE NULL,
                          PRIMARY KEY (`id`, `state_calendars`))
                        ENGINE = InnoDB;'''
        
        c.execute(calendars)
        conn.commit()
        print('Calendars table created.')
        
        #new_mode = 'SET SQL_MODE=@OLD_SQL_MODE;'
        new_foreign = 'SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;'
        new_unique = 'SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;'
        #c.execute(new_mode)
        c.execute(new_foreign)
        c.execute(new_unique)
        conn.commit()
        conn.close()


   #adds data to the tables
    #resources used to help speed up the process    
    #engine = create_engine('mysql+mysqldb://root:4AdvaPro*@localhost:3306/CA_health_inspections', echo = False)
    # https://stackoverflow.com/questions/44933704/pandas-0-20-2-to-sql-using-mysql
    def add_data(self, df_list, school_culture, assessments, tech_plans, districts, products): 
        conn = connect()

        #creates and engine that is supposed to make upload faster
        engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(user="root",
                                   pw = password,
                                   db = dbase,
                                   fast_execute_many = True))
        
        #adds data from engagement_data file to product_access table
        for df in df_list:
            df.to_sql(name='product_access', con=engine, if_exists = "append", index=False)
        print('Records have been inserted into the product_access table.')
        conn.commit()

        school_culture.to_sql(name="school_culture", con=engine, if_exists = "append", index=False)
        print("Records have been inserted into the school culture table.")
        conn.commit()

        assessments.to_sql(name="assessments", con=engine, if_exists = "append", index=False)
        print("Records have been inserted into the owners table.")
        conn.commit()

        tech_plans.to_sql(name="tech_plans", con=engine, if_exists = "append",index=False,chunksize=50000)
        print("Records have been inserted in the violations table.")
        conn.commit()

        districts.to_sql(name="districts", con=engine, if_exists = "append", index=False)
        print("Records have been inserted in the inspections table.")
        conn.commit()

        products.to_sql(name="products", con=engine, if_exists = "append", index=False)
        print("Records have been inserted into the demographics table.")
        conn.commit()
        conn.close()
        
        calendars.to_sql(name="calendars", con=engine, if_exists = "append", index=False)
        print("Records have been inserted into the calendars table.")
        conn.commit()
        conn.close()

        print("All data has been successfully uploaded. You may analyse it now.")

In [14]:
db = CreateDatabase()
db.create_tables()
db.add_data(access_df_list, culture_df, assessment_df, tech_df, district_df, product_df)

Product_access table created.
School_culture table created.
Assessments table created.
Tech_plans table created.
Districts table created.
Products table created.
Records have been inserted into the product_access table.
All data has been successfully uploaded. You may analyse it now.

In [12]:
# -- MySQL Script generated by MySQL Workbench
# -- Tue Nov 16 17:42:34 2021
# -- Model: New Model    Version: 1.0
# -- MySQL Workbench Forward Engineering

# SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
# SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
# SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

# -- -----------------------------------------------------
# -- Schema learn
# -- -----------------------------------------------------

# -- -----------------------------------------------------
# -- Schema learn
# -- -----------------------------------------------------
# CREATE SCHEMA IF NOT EXISTS `learn` DEFAULT CHARACTER SET utf8 ;
# USE `learn` ;

# -- -----------------------------------------------------
# -- Table `learn`.`ProductAccess`
# -- -----------------------------------------------------
# CREATE TABLE IF NOT EXISTS `learn`.`ProductAccess` (
#   `product_id` INT NOT NULL,
#   `district_id` INT NULL,
#   `date` DATETIME NULL,
#   `percent_access` DOUBLE NULL,
#   `engagement_index` DOUBLE NULL,
#   PRIMARY KEY (`product_id`))
# ENGINE = InnoDB;


# -- -----------------------------------------------------
# -- Table `learn`.`school_culture`
# -- -----------------------------------------------------
# CREATE TABLE IF NOT EXISTS `learn`.`school_culture` (
#   `state` VARCHAR(20) NOT NULL,
#   `times_attacked` DECIMAL(6) NULL,
#   `times_threatened` DECIMAL(6) NULL,
#   `stay_teaching` DECIMAL(6) NULL,
#   `too_tired` DECIMAL(6) NULL,
#   `want_transfer` DECIMAL(6) NULL,
#   `satisfied` DECIMAL(6) NULL,
#   `stud_unprepared` DECIMAL(6) NULL,
#   `stud_apathetic` DECIMAL(6) NULL,
#   `stud_absent` DECIMAL(6) NULL,
#   `standards_plus` DECIMAL(6) NULL,
#   `job_security` DECIMAL(6) NULL,
#   `staff_cooperates` DECIMAL(6) NULL,
#   `rules_enforced` DECIMAL(6) NULL,
#   `have_supplies` DECIMAL(6) NULL,
#   `stud_misbehaves` DECIMAL(6) NULL,
#   `control_homework` DECIMAL(6) NULL,
#   `control_techniques` DECIMAL(6) NULL,
#   `control_content` DECIMAL(6) NULL,
#   `control_materials` DECIMAL(6) NULL,
#   `control_pd` DECIMAL(6) NULL,
#   `control_curriculum` DECIMAL(6) NULL,
#   `money_spent` DECIMAL(10) NULL,
#   `hours_week` DECIMAL(8) NULL,
#   `size_contain_class` DECIMAL(8) NULL,
#   `size_dept_class` DECIMAL(8) NULL,
#   `outside_income` DECIMAL(16) NULL,
#   `school_culturecol` VARCHAR(45) NULL,
#   `alt_cert` DECIMAL(6) NULL,
#   PRIMARY KEY (`state`),
#   CONSTRAINT `state`
#     FOREIGN KEY (`state`)
#     REFERENCES `learn`.`state_plans` (`state`)
#     ON DELETE NO ACTION
#     ON UPDATE NO ACTION,
#   CONSTRAINT `state`
#     FOREIGN KEY (`state`)
#     REFERENCES `learn`.`District` (`state`)
#     ON DELETE NO ACTION
#     ON UPDATE NO ACTION)
# ENGINE = InnoDB;


# -- -----------------------------------------------------
# -- Table `learn`.`assessment`
# -- -----------------------------------------------------
# CREATE TABLE IF NOT EXISTS `learn`.`assessment` (
#   `state` VARCHAR(48) NOT NULL,
#   `g4_math_all` INT NULL,
#   `g4_math_elig` INT NULL,
#   `g4_math_notelig` INT NULL,
#   `g4_read_all` INT NULL,
#   `g4_read_elig` INT NULL,
#   `g4_read_notelig` INT NULL,
#   `g8_math_all` INT NULL,
#   `g8_math_elig` INT NULL,
#   `g8_math_notelig` INT NULL,
#   `g8_read_all` INT NULL,
#   `g8_read_elig` INT NULL,
#   `g8_read_not_elig` INT NULL,
#   PRIMARY KEY (`state`),
#   CONSTRAINT `state`
#     FOREIGN KEY (`state`)
#     REFERENCES `learn`.`District` (`state`)
#     ON DELETE NO ACTION
#     ON UPDATE NO ACTION,
#   CONSTRAINT `state`
#     FOREIGN KEY (`state`)
#     REFERENCES `learn`.`school_culture` (`state`)
#     ON DELETE NO ACTION
#     ON UPDATE NO ACTION,
#   CONSTRAINT `state`
#     FOREIGN KEY (`state`)
#     REFERENCES `learn`.`school_culture` (`state`)
#     ON DELETE NO ACTION
#     ON UPDATE NO ACTION)
# ENGINE = InnoDB;


# -- -----------------------------------------------------
# -- Table `learn`.`state_plans`
# -- -----------------------------------------------------
# CREATE TABLE IF NOT EXISTS `learn`.`state_plans` (
#   `state` VARCHAR(15) NOT NULL,
#   `year` INT NULL,
#   `twenty_first_cen` TINYINT NULL,
#   `address_gaps` TINYINT NULL,
#   `authentic` TINYINT NULL,
#   `stud_collaborate` TINYINT NULL,
#   `comp_sci_ed` TINYINT NULL,
#   `data_driven` TINYINT NULL,
#   `data_protect` TINYINT NULL,
#   `digital_citizen` TINYINT NULL,
#   `local_control` TINYINT NULL,
#   `equity` TINYINT NULL,
#   `flexible` TINYINT NULL,
#   `for_assess` TINYINT NULL,
#   `goals` TINYINT NULL,
#   `home_access` TINYINT NULL,
#   `integration` TINYINT NULL,
#   `investment` TINYINT NULL,
#   `one_to_one` TINYINT NULL,
#   `pd` TINYINT NULL,
#   `personal_learn` TINYINT NULL,
#   `privacy` TINYINT NULL,
#   `problem_solving` TINYINT NULL,
#   `learning_commun` TINYINT NULL,
#   `shared_resources` TINYINT NULL,
#   `standards` TINYINT NULL,
#   `student_centered` TINYINT NULL,
#   `tech_leader` TINYINT NULL,
#   `tech_lit` TINYINT NULL,
#   `statewide_goals` TINYINT NULL,
#   `as_learning_tool` TINYINT NULL,
#   `data_manage` TINYINT NULL,
#   `tech_assist` TINYINT NULL,
#   `college` TINYINT NULL,
#   `careers` TINYINT NULL,
#   `consultant` TINYINT NULL,
#   `teach_libr` TINYINT NULL,
#   `teacher_collab` TINYINT NULL,
#   `form_assess` TINYINT NULL,
#   `common_core` TINYINT NULL,
#   PRIMARY KEY (`state`),
#   CONSTRAINT `state`
#     FOREIGN KEY (`state`)
#     REFERENCES `learn`.`District` (`state`)
#     ON DELETE NO ACTION
#     ON UPDATE NO ACTION,
#   CONSTRAINT `state`
#     FOREIGN KEY (`state`)
#     REFERENCES `learn`.`school_culture` (`state`)
#     ON DELETE NO ACTION
#     ON UPDATE NO ACTION,
#   CONSTRAINT `state`
#     FOREIGN KEY (`state`)
#     REFERENCES `learn`.`assessment` (`state`)
#     ON DELETE NO ACTION
#     ON UPDATE NO ACTION)
# ENGINE = InnoDB;


# -- -----------------------------------------------------
# -- Table `learn`.`District`
# -- -----------------------------------------------------
# CREATE TABLE IF NOT EXISTS `learn`.`District` (
#   `district_id` INT NOT NULL,
#   `state` VARCHAR(45) NULL,
#   `local` VARCHAR(45) NULL,
#   `black_hispanic_range` VARCHAR(6) NULL,
#   `free_reduced_lunch_range` VARCHAR(6) GENERATED ALWAYS AS () VIRTUAL,
#   `expenditure_per_student_range` VARCHAR(12) NULL,
#   UNIQUE INDEX `district_id_UNIQUE` (`district_id` ASC) VISIBLE,
#   PRIMARY KEY (`district_id`),
#   INDEX `state_idx` (`state` ASC) VISIBLE,
#   CONSTRAINT `product_id`
#     FOREIGN KEY (`district_id`)
#     REFERENCES `learn`.`Product` (`product_id`)
#     ON DELETE NO ACTION
#     ON UPDATE NO ACTION,
#   CONSTRAINT `district_id`
#     FOREIGN KEY (`district_id`)
#     REFERENCES `learn`.`ProductAccess` (`district_id`)
#     ON DELETE NO ACTION
#     ON UPDATE NO ACTION,
#   CONSTRAINT `state`
#     FOREIGN KEY (`state`)
#     REFERENCES `learn`.`state_plans` (`state`)
#     ON DELETE NO ACTION
#     ON UPDATE NO ACTION)
# ENGINE = InnoDB;


# -- -----------------------------------------------------
# -- Table `learn`.`Product`
# -- -----------------------------------------------------
# CREATE TABLE IF NOT EXISTS `learn`.`Product` (
#   `product_id` INT NOT NULL,
#   `http_address` VARCHAR(60) NULL,
#   `name` VARCHAR(45) NULL,
#   `company` VARCHAR(45) NULL,
#   `function_code` VARCHAR(5) NULL,
#   `primary_function` VARCHAR(45) NULL,
#   `Productcol` VARCHAR(45) NULL,
#   UNIQUE INDEX `productId_UNIQUE` (`product_id` ASC) VISIBLE,
#   PRIMARY KEY (`product_id`),
#   CONSTRAINT `access_id`
#     FOREIGN KEY (`product_id`)
#     REFERENCES `learn`.`ProductAccess` (`product_id`)
#     ON DELETE NO ACTION
#     ON UPDATE NO ACTION,
#   CONSTRAINT `district_id`
#     FOREIGN KEY (`product_id`)
#     REFERENCES `learn`.`District` (`district_id`)
#     ON DELETE NO ACTION
#     ON UPDATE NO ACTION)
# ENGINE = InnoDB;


# SET SQL_MODE=@OLD_SQL_MODE;
# SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
# SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;